
.items{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;

}

.error{
    
    position: absolute;
    top:40%;
    left: 35%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

