.item {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 400px;
  margin: 15px;
  padding-left: 35px;
  padding-right: 10px;
}

.header {
  margin: 20px auto;
  width: fit-content;
  font-size: 30px;
  text-transform: capitalize;
}
.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.link {
  margin-right: 15px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}
.link:hover {
  color: #ffffff;
}
